nav{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    background-color: #9a8840;
}

.information{
    display: flex;
    justify-content:center;
    gap: 100px;
    
}
main{
    margin-top: 10px;
}

.information a {
    text-decoration:none;
}

.information li{
    list-style: none;
    justify-content: space-between;
}

.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
ul{
    padding: 0px;
}
h1{
    font-size:50px;
}
h1:hover{
    color: yellow;
}
.link{
    color:black;
}

i{
    font-size: 50px;
}
ul li a:hover{
    color:yellow;
}
.crocodileboucheouverte{
    width: 400px;
    height: 400px;
    background-image:url("crocodileboucheouverte.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
i:hover{
    color:yellow;
}
.crocodilemarin{
    background-image:url("crocodilemarin.jpg");
    height: 400px;
    width:400px;
    background-repeat:no-repeat;
    background-size:cover;
    object-fit:cover;
    border-radius:25%;
}
.bebecrocodile{
    background-image:url("bébécrocodile.jpg");
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    border-radius: 25%;
}
.galerie{
    display:flex;
    gap:20px;
}
.varietes{
    display:flex;
}
h2:hover{
    color:green;
}
.bouton{
    border:solid;
    justify-content: center;
    width: fit-content;
    color: black;
    background-color: #9a8840;
    padding: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

h3:hover{
    color:green;
}
h3{
    display:flex;
    justify-content:center;
}
.crocodilemythique p{
    color:black;
}








